.card{
    margin-left: 3rem;
    margin-right: 3rem;
    filter: drop-shadow(10px 10px 10px #b8b8b8);
}

.card-title{
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana;
}

.card-text{
    font-size: 1.6rem;
}

.row{
    margin-left: 6rem;
    margin-right: 6rem;
}

.btn-mais{
    display: flex;
    flex-direction: row-reverse;
    margin: 3rem;
    height: 4rem;
}

img{
    max-width: fit-content;
}